<header>
  <nav class="i_main_navbar">
    <a class="i_menu_toggle">
      <mat-icon>view_module</mat-icon>
    </a>
    <a href="#" class="i_menu_brand">Inventory</a>

    <ul role="menu" class="i_menu_sections">
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Overview</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Operations</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Master Data</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Reporting</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Configuration</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
