<header>
  <nav class="i_main_navbar">
    <a class="i_menu_toggle">
      <mat-icon>view_module</mat-icon>
    </a>
    <a href="#" class="i_menu_brand">Inventory</a>

    <ul role="menu" class="i_menu_sections">
      <li>
        <a [routerLink]="['overview']" class="i_menu_entry_lvl_1">
          <span>Overview</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Operations</span>
        </a>
      </li>
      <li>
        <a class="i_menu_entry_lvl_1" [matMenuTriggerFor]="masterDataMenu">
          <span>Master Data</span>
        </a>

        <mat-menu #masterDataMenu="matMenu" style="border-radius: 0px;">
          <a class="dropdown-Item" mat-menu-item [routerLink]="['/product']">
            <span>Products</span>
          </a>
          <a class="dropdown-Item" mat-menu-item>
            <span>Reordering Rules</span>
          </a>
        </mat-menu>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Reporting</span>
        </a>
      </li>
      <li>
        <a href="#" class="i_menu_entry_lvl_1">
          <span>Configuration</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
