<div class="i_control_panel">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Transfers</li>
  </ol>

  <div class="i_cp_searchview">
    <form>
      <mat-form-field class="i_cp_searchfield">
        <input type="text" matInput placeholder="Search...">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="i_cp_left">
    <div class="i_cp_buttons">
      <button mat-button class="btn-primary">Create</button>
      <button mat-button class="btn-secondary">Import</button>
    </div>
  </div>
</div>
