<div class="i_kanban_item">
  <div>

    <div class="i_kanban_header">
      <div class="i_kanban_title">
        <div class="i_primary">
          <a href="#">
            <span>Receipts</span>
          </a>
        </div>
        <div class="i_secondary">
          <span>My Company</span>
        </div>
      </div>
      <div class="i_kanban_btn_section">
        <a href="#" class="i_toggle_btn">
          <mat-icon class="i_toggle_icn">more_vert</mat-icon>
        </a>
      </div>
    </div>

    <div class="i_kanban_content">
      <div class="row">
        <div class="col_left">
          <button mat-button class="btn-primary">0 To Process</button>
        </div>
        <div class="col_right">

        </div>
      </div>
    </div>

  </div>
</div>
