@import "../../app.css";

.btn_statusbar {
  min-height: 25px;
  margin: 4px 3px 4px 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.i_form_statusbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  height: 56px;
  border-bottom: 1px solid #ced4da;
  background-color: white;
}

.i_buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-around;
  margin-top: 15px;
}

/* MatCard */

.mat-card {
  margin: 12px 140px;
}

.i_button_box {
  margin-left: -17px;
  margin-right: -17px;
  margin-top: -17px!important;
  margin-bottom: 24px;
  text-align: right;
  box-shadow: inset 0 -1px #ced4da;
}

.i_btn_stat {
  color: #666666;
  height: 44px;
  padding: 0 6px 0 6px;
  text-align: left;
  background-color: transparent;
  opacity: 0.8;
  width: 12.5%;
  flex: 0 0 auto;
  border-left: 1px solid #ced4da;
  font-size: 1.08333333rem;
  border-radius: 0;
}

.i_btn_icon {
  margin: 8px 10px 8px 5px;
}

.i_btn_info {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  max-width: 70%;
  padding-right: 6px;
  line-height: 1.3;
  margin-bottom: 0px;
}

.i_btn_text {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.i_btn_value {
  font-weight: 700;
  color: #875A7B;
  line-height: 1.2;
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
