<div class="i_form_statusbar">
  <div class="i_buttons">
    <button mat-button class="btn-primary btn_statusbar">Create</button>
    <button mat-button class="btn-primary btn_statusbar">Edit</button>
    <button mat-button class="btn-primary btn_statusbar">Save</button>
    <button mat-button class="btn-secondary btn_statusbar">Discard</button>
  </div>
</div>

<mat-card class="mat-card">
  <div class="i_button_box">
    <button mat-button class="i_btn_stat">
      <mat-icon class="i_btn_icon">domain</mat-icon>
      <div class="i_btn_info">
        <span class="i_btn_value">0.000 Unit(s)</span>
        <span class="i_btn_text">On Hand</span>
      </div>
    </button>
    <button mat-button class="i_btn_stat">
      <mat-icon class="i_btn_icon">domain</mat-icon>
      <div class="i_btn_info">
        <span class="i_btn_value">0.000 Unit(s)</span>
        <span class="i_btn_text">Forecasted</span>
      </div>
    </button>
    <button mat-button class="i_btn_stat">
      <mat-icon class="i_btn_icon">import_export</mat-icon>
      <div class="i_btn_info">
        <span class="i_btn_text">Product Moves</span>
      </div>
    </button>
    <button mat-button class="i_btn_stat">
      <mat-icon class="i_btn_icon">cached</mat-icon>
      <div class="i_btn_info">
        <span class="i_btn_value">0</span>
        <span class="i_btn_text">Reordering Rules</span>
      </div>
    </button>
    <button mat-button class="i_btn_stat">
      <mat-icon class="i_btn_icon">unarchive</mat-icon>
      <div class="i_btn_info">
        <span class="i_btn_text">Archive</span>
      </div>
    </button>
  </div>
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>
      <section>
        <mat-checkbox (ngModel)=true>Can be Sold</mat-checkbox>
      </section>
      <section>
        <mat-checkbox (ngModel)=true>Can be Purchased</mat-checkbox>
      </section>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="General Information">
        <strong>Product Type:</strong> {{product.productType}}
        <mat-label><strong>Product Category:</strong> {{product.productCategory}}</mat-label>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
  </mat-card-actions>
</mat-card>
